import React, { PropsWithChildren } from "react";

// import { Component } from "./_{{createFilename name}}.styled";

const {{name}}: React.FC<PropsWithChildren> = () => {
    return (
        <div>
            <div>{{name}}</div>
        </div>
    );
};

export default {{name}};